.calendar {
    max-width: 80%;
    background: #d0daa6;
}

.schedule {
    width: 100%;
    height: 600px;
}
.e-schedule .e-vertical-view .e-day-wrapper .e-appointment {
background: red;
}
.property-header {
    font-size: 1.3em;
}
.property-table-row {
    height: 50px;
}
.e-label .e-control span{
    font-family: Andika, Roboto, Helvetica, sans-serif;
    font-size: 1em;
}
.praticien-0 .e-frame {
    background-color: #81d4fa;
}
.praticien-1 .e-frame {
    background-color: #a5d6a7;
}
.praticien-2 .e-frame {
    background-color: #ffcc80;
}
.praticien-3 .e-frame {
    background-color: #9fa8da;
}
.praticien-4 .e-frame {
    background-color: #ef9a9a;
}
.praticien-5 .e-frame {
    background-color: #bcaaa4;
}
.praticien-6 .e-frame {
    background-color: #c5e1a5;
}
.praticien-7 .e-frame {
    background-color: #ce93d8;
}
.praticien-8 .e-frame {
    background-color: #fff59d;
}
.praticien-9 .e-frame {
    background-color: #90caf9;
}
.checkbox {
    padding: 20px 30px;
}
@media (max-width: 550px) {
    .schedule-demo-heading {
        font-size: 14px;
    }
}
